.dealCard {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 12px;
	aspect-ratio: 16 / 9;
	color: white;
	border-radius: 5px;
	padding: 14px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	white-space: nowrap;
}

.name {
	margin-top: auto;
	font-size: 1.25rem;
	font-weight: 700;
}

.dealInfoGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-around;
	font-family: "Lato", sans-serif;
	height: fit-content;
	font-size: 1.125rem;
	font-weight: 700;
	column-gap: 10px;
}

@media (max-width: 1024px) {
	.dealInfoGrid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 768px) {
	.dealInfoGrid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 550px) {
	.dealInfoGrid {
		margin-top: 20px;
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 375px) {
	.dealInfoGrid {
		grid-template-columns: 1fr;
	}
}
