*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}

html,
body,
#root {
	height: 100%;
}
html {
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: "Merriweather", serif;
	line-height: 1.5;
	color: #111;
	background: #fff;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: inherit;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
